html, body{
  width:100%;
  overflow-x: hidden;
  background-color:var(--tg-theme-bg-color);
  font-family: 'Inconsolata', monospace;
}

h1 {
  padding-top:100px;
  font-size: 60px;
  color:var(--tg-theme-button-color);
}

p {
  font-size: 20px;
  color:var(--tg-theme-button-color);
  white-space: nowrap;
  border-right: solid 3px var(--tg-theme-button-color);
  overflow: hidden; 
}

p {
  animation: animated-text 4s steps(25) 1s 1 normal both, animated-cursor 600ms steps(25) infinite; 
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 220px;}
}

@keyframes animated-cursor{
  from{border-right-color: #fff;}
  to{border-right-color: transparent;}
}

a {
  position: relative;
  display: flex;
  height: 2rem;
  width: auto;
  font-size: 2em;
  font-family: sans-serif;
  text-decoration: none;
  color: var(--tg-theme-button-color);
}

  a:before {
    content: '';
    display: block;
    height: 3px;
    width: 20%;
    background: var(--tg-theme-button-color);
    position: absolute;
    bottom: -5px;
    right: 80%;
    opacity: 0;
    
    -webkit-transition: width .15s, right .15s .3s, opacity .05s .35s;
            transition: width .15s, right .15s .3s, opacity .05s .35s;
  }

a:hover:before {
  width: 100%;
  right: 0;
  opacity: 1;
  
  -webkit-transition:opacity 0s, right 0.15s, width 0.15s 0.2s;
		     transition:opacity 0s, right 0.15s, width 0.15s 0.2s;
}
