@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --nav-width: 92px;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --z-fixed: 100;
}
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  transition: .5s;
  min-height: 100vh;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}
h1{
  margin: 0;
  color: var(--tg-theme-text-color);
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
  a{
  text-decoration: none;
}

}
.product p {
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4em;
  height: 5.6em;
  overflow: hidden;
}
.product p:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.2em;
  height: 1.6em;
  background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: var(--tg-theme-text-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: 1000;
}
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--tg-theme-text-color);
  font-weight: 600;
}
.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--tg-theme-text-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}
.body-pd{
  padding-left: var(--nav-width);
  position: relative;
  height: 100vh;
}
.active{
  background-color: var(--tg-theme-button-color);
}
.rotate{
  transform: rotate(180deg);
}
/*img{
  border-radius: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}*/
.header, .main-content, .footer {
  position: relative;
  z-index: 1; /* Низкий z-index для остальных элементов */
  padding: 1rem;
}

.main-content {
  margin-top: 0; /* Убираем отступ сверху */
  padding-top: 1rem; /* Добавляем внутренний отступ сверху */
}
.product-wrapper {
  display: block;
  width: 50%;
  float: left;
  transition: width .2s;
}
.product {
  display: block;
  border: 1px solid #FF00FF;
  border-radius: .5rem;
  position: relative;
  background: var(--tg-theme-bg-color);
  margin: 0 20px 20px 0;
  text-decoration: none;
  color: var(--tg-theme-text-color);
  z-index: 0;
  height: 200px;
  overflow: hidden;
}
.products {
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
  background: yellow;
}
@media only screen and (min-width: 450px) {
  .product-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-wrapper {
    width: 25%;
  }
}
.product-photo {
  position: relative;
  padding-bottom: 100%;

  overflow: hidden;
}.product-photo img {
  position: absolute;
  border-radius: .5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: transform .4s ease-out;
}
