<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}
a:link {
    color: var(--tg-theme-link-color);
header {
    backgroud: var(--tg-theme-header-bg-color);
}
main {
    backgroud: var(--tg-theme-section-separator-color);
}
footer {
    backgroud: var(--tg-theme-section-bg-color)
}
</style>
